$black-color : #474747;

.toggle-units-overlay {
    top: 5rem;
    left: 0.8rem;
    position: absolute;
    z-index: 999;
    padding: 0.5rem 1rem;
    border: 1px solid $black-color;
    color: $black-color;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    min-width: 150px;
    text-align: center;
    background-color: white;
    
    &:hover {
        background-color: $black-color;
        color: white;
    }

    &.expanded::after {
        content: '';
        position: absolute;
        top: 2.05rem;
        left: 0.5rem; 
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 15px solid $black-color;
    }
}

.units-list-overlay {
    position: absolute;
    z-index: 999;
    background-color: white;
    padding-top: 1rem;
    border: 0.5px solid black;
    border-radius: 0.7rem;
    top: 8rem;
    left: 0.8rem;
    max-height: 100vh;
    overflow-y: auto;

    

    .filter-unit {
        padding: 0 0.5rem;

        input {
            min-width: 220px;
            padding: 0.5rem 0 0.5rem 0.3rem;
            border-radius: 0.4rem;
            outline: none;
            font-size: 0.9rem;
        }

    }

    .units-list {
        margin-top: 0.5rem;

        .unit-items {
            display: flex;
            flex-direction: column;

            .unit-item {
                padding: 0.5rem;
                border-bottom: 0.3px solid rgb(215, 215, 215);

                .unit-name {
                    font-weight: bold;
                }

                .unit-details {
                    margin-top: 0.2rem;
                    font-size: 0.85rem;
                    color: rgb(144, 144, 144);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

            }

            .unit-item:hover {
                background-color: rgb(235, 235, 235);
                cursor: pointer;
            }

            .unit-item.active {
                background-color: rgb(235, 235, 235);
            }
        }

        .not-found {
            margin-top: 0.2rem;
            padding: 0.5rem;
            color: red;
        }
    }


}